
<nav class="navbar navbar-default navbar-fixed-top ">
	<div class="navbar-header ">
		<button type="button" class="btn btn-default btn-lg" ng-click="openAside('left', true)">
           	<span class="glyphicon glyphicon-align-justify"></span> User
		</button>
	</div>
</nav>
<div class="container" style="padding:60px 0">
	<div class="messages "></div>
</div>
<footer class="footer ">
	<form ng-submit="newMessage()" style="margin:0">
		<div class="input-group ">
			<input type="text" class="form-control" id="chatinput" placeholder="Type here..." ng-model="message" ng-keydown="typing()">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Go!</button>
			</span>
	    </div>
    </form>
</footer>
