
<div class="login page ">
	<div class="form form-inline container">
		<form ng-submit="submit()" class="form-group" >
		    <h3 class="title">What's your nickname?</h3>
		    <input class="form-control" type="text" maxlength="14" ng-model="username"/>
		    <h3 class="title">What's your room?</h3>
		
		    <input class="form-control" type="text" maxlength="14" value="codecraft" ng-model="room"/>
		    <input type="submit" id="submit" value="Enter" class="btn btn-primary" />
		</form>
	</div>
</div>
